#button {
    background-color: #EBF2F0;
    border: none;
    max-height: 100px;
    border-radius: 6px;
    padding: 20px 30px;
    cursor: help;
    width: 10%;
    left: 18px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
}

#category {
    background-color: #EBF2F0;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 20px 30px;
    width: 15%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#rankpics {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: absolute;
}

#categories {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#bronze {
    display: flex;
    justify-content: center;
    background-color: chocolate;
}

#silver {
    display: flex;
    justify-content: center;
    background-color: silver;
}

#gold {
    display: flex;
    justify-content: center;
    background-color: gold;
}

#platinum {
    display: flex;
    justify-content: center;
    background-color: paleturquoise;
}

#diamond {
    display: flex;
    justify-content: center;
    background-color: royalblue;
}

#champion {
    display: flex;
    justify-content: center;
    background-color: purple;
}

#gc {
    display: flex;
    justify-content: center;
    background-color: violet;
}
.content {
    width: 0;
    visibility: hidden;
    height: 131px;
    padding: 0 18px;
    overflow: hidden;
    background-color: gray;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

#dot {
    height: 25px;
    width: 25px;
    margin: 0 auto;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}
iframe {
    width: 150px;
    height: 75px;
}

#nobutton {
    background-color: #EBF2F0;
    border: none;
    max-height: 100px;
    border-radius: 6px;
    padding: 20px 30px;
    cursor: not-allowed;
    width: 10%;
    left: 18px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
}